{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <label for="symbol">Select Stock Symbol to Sell</label>
            <select name="symbol">
                {% for symbol, shares in owned_symbols.items() %}
                    <option value="{{symbol}}">{{symbol}}</option>
                {% endfor %}
            </select>

            <input class="form-control" name="shares" placeholder="Shares" type="shares"/>
        </div>
        <button class="btn btn-primary" type="submit">Sell Shares</button>
    </form>
{% endblock %}
